@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

body {
  font-family: "Play", sans-serif;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

h1 {
  font-family: "Secular One", sans-serif;
}
